@model ManageShop.Models.CategoryModel

<style>

    .sy_electric_size {
        color: #0d5113;
        font-size: 40px;
       
        margin-top: 70px;
    }

</style>
<div id="window">
    <div style="position: relative; z-index: 99; display: block;" id="contents">
        <!-- MENU -->
        <div style="opacity: 1; top: 0px;" id="menu">
            <div class="inner">
                <a href="javascript:scrollTo('#visual','.menu_top','top.html');" class="menu_logo hide_sp"><img src="~/Template/menu_logo.png" alt="DEAD OR ALIVE 5 Last Round"></a>
                <ul class="hide_sp">
                    <li class="menu_top" ><a id="menu_info" class="active" style="cursor: pointer; background-image: url('/Template/img/common/menu_info_vn.png'); " onclick="topclick()"></a></li>
                    <li class="menu_features">
                        <a id="menu_industry" style="cursor: pointer; background-image: url('/Template/img/common/menu_industry_vn.png');" onclick="locationclick()"></a>

                    </li>

                    <li class="menu_resident">
                        <a id="menu_resident" style="cursor: pointer; background-image: url('/Template/img/common/menu_resident_vn.png');" onclick="residentclick()"></a>

                    </li>

                    <li class="menu_characters">
                        <a id="menu_infrastructure" style="cursor: pointer; background-image: url('/Template/img/common/menu_infrastructure_vn.png');" onclick="constructionclick()"></a>
                        
                    </li>
                    <li class="menu_stages"><a id="menu_investor" style="cursor: pointer; background-image: url('/Template/img/common/menu_investor_vn.png');" onclick="gainclick()"></a></li>
                    <li class="menu_movies"><a id="menu_library" style="cursor: pointer; background-image: url('/Template/img/common/menu_library_vn.png');" onclick="libraryclick()"></a><img src="~/Template/newicon.gif" class="icon"></li>
                    <li class="menu_contact"><a id="menu_contact" style="cursor: pointer; background-image: url('/Template/img/common/menu_contact_vn.png');" onclick="contactclick()"></a></li>
                    <li class="menu_langue">
                        <a style="cursor:pointer" onclick="languageclick('VN')">
                            <img src="~/Template/img/common/lang_vn.png" />
                        </a>
                       
                        <a style="float: right; margin-left: 2px; cursor: pointer" onclick="languageclick('KR')">
                            <img src="~/Template/img/common/lang_kr.png" />
                        </a>
                        <a style="float: right; margin-left: 2px; cursor: pointer" onclick="languageclick('CN')">
                            <img src="~/Template/img/common/lang_cn.png" />
                        </a>
                        <a style="float: right;margin-left:2px;  cursor: pointer" onclick="languageclick('JP')">
                            <img src="~/Template/img/common/lang_jp.png" />
                        </a>
                        <a style="float: right; margin-left: 2px; cursor: pointer" onclick="languageclick('EN')">
                            <img src="~/Template/img/common/lang_en.png" />
                        </a>
                    </li>
                    <li id="admin"><a style="cursor:pointer" onclick="adminclick()"></a></li>
                    <li id="login" class="menu_login"><a style="cursor:pointer" onclick="openpopup_login()"></a></li>
                    <li id="logout"><a style="cursor:pointer" onclick="logoutclick()"></a></li>


                </ul>
            </div>
        </div>
        <!-- END MENU-->
        <!--▼▼visual-->
        <div style="opacity: 1;" id="visual">
            <img src="~/Template/bg.jpg" class="hide_pc">
        </div>
        <!--△△visual-->
        <div id="wrapper">
            <!--▼▼TOP-->
            <div id="top">
                <!--▼▼logo-->
                <h1 style="opacity: 1;" class="hide_sp"><img src="~/Template/logo.png" alt="DEAD OR ALIVE 5 Last Round"></h1>
                <!--△△logo-->
                <!--▼▼information-->
                <div id="information">
                    <h3 style="opacity: 1; left: 0px;"><img src="~/Template/information_h.png" alt="Information"></h3>
                    <div style="height: 189px;" class="inner">
                        <ul>
                            <!-----gioi thieu cong ty-->
                            <li style="opacity: 1; top: 0px; background-color: rgb(213, 149, 6);" class="new num_0">
                                <a style="cursor:pointer" onclick="openpopup( 'in_company');">
                                    <img src="~/Template/patcompany.jpg"><span class="text">
                                        <span class="inner">
                                            <br><label id="in_company"> </label>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <!-----gioi thieu khu cong nghiep-->
                            <li style="opacity: 1; top: 0px; background-color: rgb(213, 149, 6);" class="new num_1">
                                <a style="cursor:pointer" onclick="openpopup('in_industry');">
                                    <img src="~/Template/land.jpg"><span class="text">
                                        <span class="inner">
                                            <br><label id="in_industry"> </label>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <!-----dat cong nghiep-->
                            <li style="opacity: 1; top: 0px;" class="num_2">
                                <a style="cursor:pointer" onclick="openpopup('in_land');">
                                    <img src="~/Template/patland.jpg"><span class="text">
                                        <span class="inner">
                                            <br><label id="in_land"> </label>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div style="height: 189px;" class="inner">
                        <ul>
                            <!-----than thien moi truong-->
                            <li style="opacity: 1; top: 0px; background-color: rgb(213, 149, 6);" class="new num_0">
                                <a style="cursor:pointer" onclick="openpopup('in_environment');">
                                    <img src="~/Template/environment.jpg"><span class="text">
                                        <span class="inner">
                                            <br><label id="in_environment"> </label>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <!-----Vị trí khu công nghiệp-->
                            <li style="opacity: 0; top: 0px;" class="new num_1">
                                <a style="cursor:pointer" onclick="openpopup_map();">
                                    <img src="~/Template/map.jpg"><span class="text">
                                        <span class="inner">
                                            <br><label id="in_map"> </label>
                                        </span>
                                    </span>
                                </a>

                            </li>
                            <!-----Vị trí khu dân cư-->
                            <li style="opacity: 1; top: 0px;" class="num_2">
                                <a style="cursor:pointer" onclick="openpopup('in_location');">
                                    <img src="~/Template/map.jpg"><span class="text">
                                        <span class="inner">
                                            <br><label id="in_location"> </label>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--△△information-->
                <!--▼▼spec-->
                <!--△△spec-->
            </div>
            <!--△△TOP-->
            <div class="line"></div>
            <!--▼▼FEATURES resident-->
            <div id="resident">
                <h2><img style="opacity: 0; left: -100px;" src="~/Template/resident_h.png"></h2>
                <div class="inner">
                    <ul>
                        <!----- NHÀ PHỐ LOẠI I-->
                        <li style="opacity: 1; top: 0px;" class="num_0">
                            <a style="cursor:pointer" onclick="openpopup_item('re_house1');">
                                <img src="~/Template/law.jpg"><span class="text">
                                    <span class="inner">
                                        <label id="re_house1"> </label>
                                    </span>
                                </span> @*<img src="~/Template/newicon.gif" class="icon">*@
                            </a></li>
                        <!----- NHÀ PHỐ LOẠI II-->
                        <li style="opacity: 1; top: 0px;" class="num_1">
                            <a style="cursor:pointer" onclick="openpopup_item('re_house2');">
                                <img src="~/Template/new.jpg"><span class="text">
                                    <span class="inner">
                                        <label id="re_house2"> </label>
                                    </span>
                                </span><!-- <img src = "img/common/newicon.gif" class ="icon" /> -->
                            </a></li>
                        <!-----  NHÀ LIÊN KẾ-->
                        <li style="opacity: 1; top: 0px;" class="num_2">
                            <a style="cursor:pointer" onclick="openpopup_item('re_nexthouse');">
                                <img src="~/Template/video.jpg"><span class="text">
                                    <span class="inner">
                                        <label id="re_nexthouse"> </label>
                                    </span>
                                </span><!-- <img src = "img/common/newicon.gif" class ="icon" /> -->
                            </a></li>
                        <!-----  NHÀ Ở CÔNG NHÂN-->
                        <li style="opacity: 1; top: 0px;" class="num_3">
                            <a style="cursor:pointer" onclick="openpopup_item('re_workerhouse');">
                                <img src="~/Template/photo.jpg"><span class="text">
                                    <span class="inner">
                                        <label id="re_workerhouse"> </label>
                                    </span>
                                </span> <!--<img src = "img/common/newicon.gif" class ="icon" />-->
                            </a></li>
                        <!-----  CĂN HỘ CHUNG CƯ-->
                        <li style="opacity: 1; top: 0px;" class="num_4">
                            <a style="cursor:pointer" onclick="openpopup_item('re_flathouse');">
                                <img src="~/Template/question.jpg"><span class="text">
                                    <span class="inner">
                                        <label id="re_flathouse"> </label>
                                    </span>
                                </span> <!--<img src = "img/common/newicon.gif" class ="icon" />-->
                            </a></li>
                        <!-----   NHÀ VƯỜN-->
                        <li style="opacity: 1; top: 0px;" class="num_4">
                            <a style="cursor:pointer" onclick="openpopup_item('re_gardenhouse');">
                                <img src="~/Template/question.jpg"><span class="text">
                                    <span class="inner">
                                        <label id="re_gardenhouse"> </label>
                                    </span>
                                </span> <!--<img src = "img/common/newicon.gif" class ="icon" />-->
                            </a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--△△FEATURES-->
            <div class="line"></div>

            <!--▼▼FEATURES resident-->
            <div id="industryzone">
                <h2><img style="opacity: 0; left: -100px;" src="~/Template/industryzone_h.png"></h2>
                <div class="inner">
                    <ul>
                        <!-----   NHÀ XUONG-->
                        <li style="opacity: 1; top: 0px;" class="num_0"><a style="cursor:pointer" onclick="openpopup_item('fa_factory');"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner"><label id="fa_factory"> </label> </span></span> @*<img src="~/Template/newicon.gif" class="icon">*@ </a></li>
                        <!-----   DAT CONG NGHIEP-->
                         <li style="opacity: 1; top: 0px;" class="num_1"><a style="cursor:pointer" onclick="openpopup_item('fa_land');"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner"><label id="fa_land"> </label> </span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--△△FEATURES-->
            <div class="line"></div>

            <!--▼▼CHARACTERS-->
            <div style="height: 1208px;" id="characters">
                <h2><img id="infastructure_l" style="opacity: 0; left: -100px;" src="~/Template/infrastructure_vn.png"></h2>
                <div style="opacity: 1; display: none;" id="characters_layerTop"></div>
                <div style="opacity: 1; display: block;" id="characters_base">
                    <div class="inner">
                        <!-----   he thong cap dien-->
                        <h3><label id="sy_electric" class="sy_electric_size"></label></h3>
                      @*  <h3><img src="~/Template/characters_h2E.png"></h3>*@
                        <div class="thumBox">
                            <div class="thumBox_inner">
                                <div style="cursor:pointer" onclick="openpopup('sy_electric');">
                                    <a style="opacity: 1;" class="thum mo t01"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-0.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t01"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-1.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t02"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-2.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t03"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-3.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t04"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-4.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t05"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-5.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t06"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-0-6.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t07"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-0.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t08"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-1.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t09"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-2.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t10"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-3.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t11"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-4.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t12"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-5.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t13"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-1-6.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t08"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-0.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t09"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-1.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t10"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-2.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t11"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-3.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t12"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-4.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t13"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-5.jpeg"></a>
                                    <a style="opacity: 1;" class="thum mo t13"><img src="~/Template/electricity/electricity [www.imagesplitter.net]-2-6.jpeg"></a>
                                </div>
                                    <!-----   he thong nuoc sach-->
                                 <h3><label id="sy_water" class="sy_electric_size"></label></h3>
                                <div style="cursor:pointer" onclick="openpopup('sy_water');">
                                    <a style="opacity: 1;"  class="thum mo t14"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-0.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t15"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-1.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t16"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-2.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t17"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-3.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t18"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-4.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t19"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-5.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t20"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-0-6.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t21"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-0.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t22"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-1.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t23"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-2.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t24"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-3.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t25"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-4.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t26"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-5.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t27"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-1-6.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t28"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-0.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t29"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-1.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t30"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-2.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t31"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-3.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t32"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-4.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t33"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-5.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t34"><img src="~/Template/watersupply/watersupply [www.imagesplitter.net]-2-6.jpeg"></a>
                                </div>
                                       @*    <h3><img src="~/Template/characters_h2P.png"></h3>*@
                                    <!-----   he thong nuoc thai-->
                                    <h3><label id="sy_pollution" class="sy_electric_size"></label></h3>
                                <div style="cursor:pointer" onclick="openpopup('sy_water');">
                                    <a style="opacity: 1;"  class="thum mo t14"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-0.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t15"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-1.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t16"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-2.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t17"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-3.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t18"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-4.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t19"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-5.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t20"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-0-6.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t21"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-0.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t22"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-1.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t23"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-2.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t24"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-3.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t25"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-4.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t26"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-5.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t27"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-1-6.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t28"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-0.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t29"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-1.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t30"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-2.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t31"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-3.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t32"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-4.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t33"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-5.jpeg"></a>
                                    <a style="opacity: 1;"  class="thum mo t34"><img src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-6.jpeg"></a>
                                </div>
                                     <div class="clearfix"></div>
                                </div>
                        </div>
                        <!-----   he thong xu ly chat thai-->
                        <h3><label id="sy_garbage" class="sy_electric_size"></label></h3>
                        <a style="opacity: 1; cursor: pointer"  onclick="openpopup('sy_garbage');" class="bnr mo"><img src="~/Template/bnr_cos.jpg"><!--<img src = "img/common/updateicon.gif" class ="icon"/>--></a>
                    </div>
                </div>
            </div>
            <!--△△CHARACTERS-->
            <div class="line"></div>
            <!--▼▼STAGES-->
            <div id="benefit">
                <h2><img style="opacity: 0; left: -100px;" src="~/Template/stages_h.png"></h2>
                <div class="inner">
                    <ul>
                        <!-----   GIÁ THUÊ ĐẤT VÀ CÁC LOẠI PHÍ-->
                        <li style="opacity: 1; top: 0px;" class="num_0"><a style="cursor:pointer" onclick="openpopup('co_cost');"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner"><label id="co_cost"> </label></span></span> @*<img src="~/Template/newicon.gif" class="icon">*@ </a></li>
                        <!-----   TIẾT KIỆM CHI PHÍ-->
                         <li style="opacity: 1; top: 0px;" class="num_1"><a style="cursor:pointer" onclick="openpopup('co_savecost');"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner"><label id="co_savecost"> </label></span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>
                        <!-----   PHÁT TRIỂN BỀN VỮNG-->
                        <li style="opacity: 1; top: 0px;" class="num_0"><a style="cursor:pointer" onclick="openpopup('co_develop');"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner"><label id="co_develop"> </label> </span></span> @*<img src="~/Template/newicon.gif" class="icon">*@ </a></li>
                        <!-----   TIẾT KIỆM THỜI GIAN-->
                         <li style="opacity: 1; top: 0px;" class="num_1"><a style="cursor:pointer" onclick="openpopup('co_savetime');"><img src="~/Template/thum_azuchi.jpg"><span class="text"><span class="inner"><label id="co_savetime"> </label></span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--△△STAGES-->
            <div class="line"></div>
            <!--▼▼MOVIES-->
            <div id="movies">
                <h2><img style="opacity: 0; left: -100px;" src="~/Template/movies_h.png"></h2>
                <div class="inner">
                    <ul>
                        <!-----   PHÁP LUẬT KINH DOANH-->
                        <li style="opacity: 1; top: 0px;" class="num_0"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_law();"><img src="~/Template/law.jpg"><span class="text"><span class="inner"><label id="ne_law"> </label></span></span> <img src="~/Template/newicon.gif" class="icon"> </a></li>
                        <!-----   THÔNG TIN PAT-->
                        <li style="opacity: 1; top: 0px;" class="num_1"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_pat();"><img src="~/Template/new.jpg"><span class="text"><span class="inner"><label id="ne_pat"> </label></span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>
                        <!-----   VIDEO-->
                        <li style="opacity: 1; top: 0px;" class="num_2"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup();"><img src="~/Template/video.jpg"><span class="text"><span class="inner"><label id="ne_video"> </label></span></span><!-- <img src = "img/common/newicon.gif" class ="icon" /> --></a></li>
                        <!-----  HÌNH ẢNH HOẠT ĐỘNG-->
                        <li style="opacity: 1; top: 0px;" class="num_3"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_photo();"><img src="~/Template/photo.jpg"><span class="text"><span class="inner"><label id="ne_picture"> </label></span></span> <!--<img src = "img/common/newicon.gif" class ="icon" />--> </a></li>
                        <!-----  TUYỂN DỤNG-->
                        <li style="opacity: 1; top: 0px;" class="num_4"><a href="javascript:scrollTo('#movies','.menu_movies','top.html#Movies');" onclick="openpopup_library_question();"><img src="~/Template/question.jpg"><span class="text"><span class="inner"><label id="ne_recruit"> </label></span></span> <!--<img src = "img/common/newicon.gif" class ="icon" />--> </a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--△△MOVIES-->
            <div class="line"></div>
            <!--▼▼CONTACT-->
            <div id="contact">
                <h2><img style="opacity: 0; left: -100px;" src="~/Template/contact_h.png"></h2>
                <div id="spec">
                    <a style="cursor:pointer" onclick="openpopup_contact();" class="btn_productInfo right mo"><label id="contact_in"> </label></a>
                    <span class="clearfix"></span>
                </div>
            </div>
            <!--△△CONTACT-->
            <div class="line hide_sp"></div>
            <!--▼▼SOCIAL-->
            <div id="social" class="hide_sp">
            </div>
            <div id="social_frontshadow"></div>
        </div>
        <!--△△SOCIAL-->
        <div class="line"></div>
        <!--▼▼FOOTER-->
        <div id="footer">
            <ul id="link_site">
                <li><a><img src="~/Template/btn_doa5u.png"></a></li>
                <li class="right"><a><img src="~/Template/btn_doa5p.png"></a></li>
                <span class="clearfix"></span>
            </ul>
        </div>
        <!--△△FOOTER-->
    </div>
    <div style="border-width:1px ;border-style:solid;border-color:#B0B0B0;position:fixed;padding:5px;right:0;max-width:14%;z-index:999;top:50px">
        <div class="right_3">
            <div class="right_3_1">
                <img width="66" height="66" src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-1.jpeg" />
                <span>
                    <p class="date_time_1">31/8/2015</p>
                </span>
            </div>
            <div class="right_3_2">
                <span><a href="#" onclick="openpopup_new();">Hiệp định Thương mại Đối tác Xuyên Thái Bình Dương...</a></span>
                <p class="text_1"></p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="right_3">
            <div class="right_3_1">
                <img width="66" height="66" src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-1.jpeg" />
                <span>
                    <p class="date_time_1">31/8/2015</p>
                </span>
            </div>
            <div class="right_3_2">
                <span class="tile_1"><a href="#" onclick="openpopup_new();">Quản lý quy hoạch và xây dựng trong các khu công nghiệp...</a></span>
                <p class="text_1"></p>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="right_3">
            <div class="right_3_1">
                <img width="66" height="66" src="~/Template/waterpollution/waterp [www.imagesplitter.net]-2-1.jpeg" />
                <span>
                    <p class="date_time_1">31/8/2015</p>
                </span>
            </div>
            <div class="right_3_2">
                <span class="tile_1"><a href="#" onclick="openpopup_new();">UBND tỉnh Long An tiếp tục ủy quyền cho Ban Quản lý Khu kinh tế...</a></span>
                <p class="text_1"></p>
            </div>
            <div style="clear:both"></div>
        </div>

    </div>
</div>
<div style="display: none; height: 607px; width: 1349px; visibility: hidden;" id="sb-container">
    <div style="background-color: rgb(0, 0, 0); opacity: 0;" id="sb-overlay">
    </div>
    <div style="top: 54px; left: 273px; width: 802px; visibility: hidden;" id="sb-wrapper">
        <div id="sb-title">
            <div style="margin-top: 26px;" id="sb-title-inner">
            </div>
        </div>
        <div style="height: 450px;" id="sb-wrapper-inner">
            <div id="sb-body">
                <div id="sb-body-inner"></div>
                <div style="display: none;" id="sb-loading">
                    <div id="sb-loading-inner">
                        <span>loading</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="sb-info">
            <div style="margin-top: 0px;" id="sb-info-inner">
                <div id="sb-counter"></div><div id="sb-nav">
                    <a id="sb-nav-close" title="Close" onclick="Shadowbox.close()"></a>
                    <a style="display: none;" id="sb-nav-next" title="Next" onclick="Shadowbox.next()"></a>
                    <a style="display: none;" id="sb-nav-play" title="Play" onclick="Shadowbox.play()"></a>
                    <a style="display: none;" id="sb-nav-pause" title="Pause" onclick="Shadowbox.pause()"></a>
                    <a style="display: none;" id="sb-nav-previous" title="Previous" onclick="Shadowbox.previous()"></a>
                </div>
            </div>
        </div>
    </div>
</div><iframe style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: medium none;" allowfullscreen="true" allowtransparency="true" scrolling="no" id="rufous-sandbox" frameborder="0"></iframe>
<!-- Modal Popup-->
<div class="modal fade" id="windowpopup" tabindex="-1" role="dialog" aria-labelledby="windowpopup_title"
     aria-hidden="true">
    <div id="windowpopup_size" class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <a href='#' onclick="Maximinepopup();" style="float:right;margin-right:15px">
                    <input id="windowpopup_size_hidden_maximine" type="hidden" value="min" />
                    <i class=" popup_maximine glyphicon glyphicon-resize-full"></i>
                </a>
                <h4 class="modal-title" id="windowpopup_title"></h4>
            </div>
            <div class="modal-body" id="windowpopup_content">

                <!--                     <iframe id="modal-body-iframe" width="600px" height="600px"> -->
                <!--                         </iframe> -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- login -->
<div class="modal fade" id="windowpopup_login" tabindex="-1" role="dialog" aria-labelledby="windowpopup_title"
     aria-hidden="true">
    <div id="windowpopup_login_size" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ClosePopup();">
                    &times;
                </button>
                <h4 class="modal-title" id="windowpopup_login_title"></h4>
            </div>
            <div class="modal-body" id="windowpopup_login_content">
                @*begin content*@
                <div class="login-box-body">

                    <h4>Vui lòng đăng nhập</h4>

                    <div class="form-group has-feedback">
                        <input id="loginformpopup_txtusername" class="form-control" maxlength="40" placeholder="Tên đăng nhập">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input id="loginformpopup_txtpassword" class="form-control" type="password" maxlength="100" placeholder="Mật khẩu" onkeydown="onkeydown_login(event);">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button id="loginformpopup_btnlogin" class="btn btn-primary btn-block btn-flat" onclick="loginpopup_click();">Đăng nhập</button>
                        </div>
                    </div>

                </div>
                @*end content*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    $(document).ready(function () {
        //gioi thieu cong ty
        $("#in_company").html('@Model.in_company');
        $("#in_environment").html('@Model.in_environment');
        $("#in_industry").html('@Model.in_industry');
        $("#in_land").html('@Model.in_land');
        $("#in_location").html('@Model.in_location');
        $("#in_map").html('@Model.in_map');
        //khu dan cu
        $("#re_flathouse").html('@Model.re_flathouse');
        $("#re_gardenhouse").html('@Model.re_gardenhouse');
        $("#re_house1").html('@Model.re_house1');
        $("#re_house2").html('@Model.re_house2');
        $("#re_nexthouse").html('@Model.re_nexthouse');
        $("#re_workerhouse").html('@Model.re_workerhouse');
        //khu cong nghiep
        $("#fa_factory").html('@Model.fa_factory');
        $("#fa_land").html('@Model.fa_land');
        //loi ich nha dau tu
        $("#co_cost").html('@Model.co_cost');
        $("#co_develop").html('@Model.co_develop');
        $("#co_savecost").html('@Model.co_savecost');
        $("#co_savetime").html('@Model.co_savetime');
        //thu vien thong tin
        $("#ne_law").html('@Model.ne_law');
        $("#ne_pat").html('@Model.ne_pat');
        $("#ne_picture").html('@Model.ne_picture');
        $("#ne_recruit").html('@Model.ne_recruit');
        $("#ne_video").html('@Model.ne_video');
        //lien he
        $("#contact_in").html('@Model.contact_in');
        //ha tang tien ich
        $("#sy_electric").html('@Model.sy_electric');
        $("#sy_water").html('@Model.sy_water');
        $("#sy_pollution").html('@Model.sy_pollution');
        $("#sy_garbage").html('@Model.sy_garbage');
    });

    function onkeydown_login(e) {
        // alert(e.keyCode);
        if (e.keyCode == 13) {
            loginpopup_click();
        }
    }

    function languageclick(language) {
        var additionalData = JSON.stringify({

            Language: language,

        });
        $.ajax({
            url: "../Category/searchCategoryLanguage",
            type: "post",
            data: additionalData,
            dataType: "json",
            contentType: "application/json",

            success: function ($result) {
               // alert($result["in_company"]);
                //gioi thieu cong ty
                $("#in_company").html($result["in_company"]);
                $("#in_environment").html($result['in_environment']);
                $("#in_industry").html($result['in_industry']);
                $("#in_land").html($result['in_land']);
                $("#in_location").html($result['in_location']);
                $("#in_map").html($result['in_map']);
                //khu dan cu
                $("#re_flathouse").html($result['re_flathouse']);
                $("#re_gardenhouse").html($result['re_gardenhouse']);
                $("#re_house1").html($result['re_house1']);
                $("#re_house2").html($result['re_house2']);
                $("#re_nexthouse").html($result['re_nexthouse']);
                $("#re_workerhouse").html($result['re_workerhouse']);
                //khu cong nghiep
                $("#fa_factory").html($result['fa_factory']);
                $("#fa_land").html($result['fa_land']);
                //loi ich nha dau tu
                $("#co_cost").html($result['co_cost']);
                $("#co_develop").html($result['co_develop']);
                $("#co_savecost").html($result['co_savecost']);
                $("#co_savetime").html($result['co_savetime']);
                //thu vien thong tin
                $("#ne_law").html($result['ne_law']);
                $("#ne_pat").html($result['ne_pat']);
                $("#ne_picture").html($result['ne_picture']);
                $("#ne_recruit").html($result['ne_recruit']);
                $("#ne_video").html($result['ne_video']);
                //lien he
                $("#contact_in").html($result['contact_in']);
                //ha tang tien ich
                $("#sy_electric").html($result['sy_electric']);
                $("#sy_water").html($result['sy_water']);
                $("#sy_pollution").html($result['sy_pollution']);
                $("#sy_garbage").html($result['sy_garbage']);

                $("#infastructure_l").attr("src", $result['infastructure_l']);
                $('#menu_info').css('background-image', 'url('+$result['menu_info']+')');
                $('#menu_resident').css('background-image', 'url(' + $result['menu_resident'] + ')');
                $('#menu_industry').css('background-image', 'url(' + $result['menu_industry'] + ')');
                $('#menu_infrastructure').css('background-image', 'url(' + $result['menu_infrastructure'] + ')');
                $('#menu_investor').css('background-image', 'url(' + $result['menu_investor'] + ')');
                $('#menu_library').css('background-image', 'url(' + $result['menu_library'] + ')');
                $('#menu_contact').css('background-image', 'url(' + $result['menu_contact'] + ')');
            },
        });
        // createCookie('language_cookie', '' + language + '', 1);
        // window.location.href = "/Home/Index?Language=" + language + "";
    }
</script>