@model List<ManageShop.Models.TreeViewModel>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="example">
    <div class="demo-section k-content">
        <ul id="treeview">
            @foreach (var item in @Model)
            {
                <li data-expanded="true">
                    <span class="k-sprite folder"></span>@item.Name
                    @if (@item.Child.Count > 0)
                    {
                        <ul>
                            @foreach (var child in @item.Child)
                            {
                                <li><span class="k-sprite"></span><span style="cursor:pointer;" onclick="searchOnClick(@child.ID)">@child.Name</span></li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>
<input id="txt_category" type="hidden" value="" />
<div class="form-group row" style="margin: 20px 0px 0px 0px;text-align:left;">
    <button id="btnCreate" class="btn btn-md btn-primary" onclick="btnCreateOnClick()">
        <i class="fa fa-plus"></i>Add
    </button>
    <button id="btnRepresh" class="btn btn-md btn-warning" onclick="btnRefreshOnClick()">
        <i class="fa fa-refresh"></i>Refresh
    </button>
</div>
<br />
<div id="grid_news" style="margin: 0px 0px 0px 0px"></div>
<script>
    function btnRefreshOnClick() {
        $("#txt_category").val(" ");
      
        $("#grid_news").data("kendoGrid").dataSource.read();
        $("#grid_news").data("kendoGrid").dataSource.page(1);
    }
    $(document).ready(function () {
        $("#treeview").kendoTreeView();
        function additionalData() {
            return {
                CategoryID: $.trim($('#txt_category').val())
            };
        }
        $("#grid_news").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "../News/SearchNews",
                        type: "POST",
                        dataType: "json",
                        data: additionalData,
                    }
                }
                ,
                batch: true,
                pageSize: 20,
            },
            navigatable: true,
            pageable: true,
            height: 550,
            pageable: {
                refresh: true,
                pageSizes: [10, 15, 20, 50, 100, 200, 500]
            },
            resizable: true,
            columnMenu: false,
            columns: [
                {
                    field: "ID",
                    title: "Xóa",
                    width: 50,
                    attributes: { style: "text-align:center" },
                    headerAttributes: {
                        style: "text-align:center"
                    },
                    template: '#=checkedRemoveNews(ID)#'
                },
                {
                    title: "STT",
                    template: "<span class='row-number'></span>",
                    height: "5px",
                    width: "30px",
                    attributes: { style: "text-align:left" }
                },
                {
                    field: "NewsName",
                    title: "Tên tin tức",
                    width: 120,
                    template: "#=OpenNewsDetail(ID,NewsName)#"
                },
                 {
                     field: "NewsDecription",
                     title: "Mô tả tin tức",
                     width: 150,
                 },

                { 
                    field: "CategoryName", 
                    title: "Thư viện thông tin",
                    width: 90 
                },
                {
                    field: "NewsDate",
                    title: "Ngày tạo",
                    width: 90,
                    template: "#= kendo.toString(kendo.parseDate(NewsDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #"
                },
                {
                    field: "CreatedBy",
                    title: "Người tạo",
                    width: 50
                },
               
            ],
            dataBound: function () {
                var rows = this.items();
                $(rows).each(function () {
                    var index = $(this).index() + 1;
                    var rowLabel = $(this).find(".row-number");
                    $(rowLabel).html(index);
                });
            }
            // editable: true
        });
    });
    function checkedRemoveNews(ID) {
        var img = '<img src="../Content/image/delete-icon.gif" style="cursor:pointer" alt="Delete" title="Delete" class="btn_delete_grid" onclick="checkedRemoveNews_click(\'' + ID + '\')" />';
        return img;
    }
    function checkedRemoveNews_click(ID) {
        // alert(ID);
        var message = 'Bạn có muốn xóa tin tức này không?';
        $body = $("body");
        if (confirm(message)) {
           
            $.ajax({
                url: "../News/Delete",
                type: "post",
                data: JSON.stringify({ID:ID}),
                dataType: "json",
                contentType: "application/json",
                beforeSend: function () {
                    $body.addClass("loading");
                },
                error: function (msg) {
                    $body.removeClass("loading");
                },
                success: function (result) {
                    alert(result.Title);
                    $("#grid_news").data("kendoGrid").dataSource.read();
                    $("#grid_news").data("kendoGrid").dataSource.page(1);
                    
                },
                error: function () {
                    alert("Không kết nối được với máy chủ");
                }
            });
        }
    }
    function OpenNewsDetail(ID,NewsName) {
        return '<a style="cursor:pointer"  onclick="btnCreateOnClick(\'' + ID + '\')">' + NewsName + '</a>';
    }
    function btnCreateOnClick(id) {
        loadpopup("../News/Detail?newsID="+id, 'ESC to Exit', '85%', false);
    }
    function searchOnClick(ID) {
        $('#txt_category').val(ID);
        $("#grid_news").data("kendoGrid").dataSource.read();
        $("#grid_news").data("kendoGrid").dataSource.page(1);
    }
</script>
